<h2>Ostatnie treningi:</h2>
<ul>
  <% @trainings.each do |training| %>
    <li><%= training.user.imie %> <%= training.user.nazwisko %> - <%= training.data %> - <%= training.liczba_pompek %> pompek</li>
  <% end %>
</ul>
<li><%= link_to 'Dodaj trening', trainingsnew_path %></li>
<li><%= link_to 'Zobacz wykres', training_history_path %></li>